@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-Medium.woff2') format('woff2'),
        url('./woff/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('./woff/SFProDisplay-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('./woff/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('./woff/SFProDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('./woff/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-Bold.woff2') format('woff2'),
        url('./woff/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-Regular.woff2') format('woff2'),
        url('./woff/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('./woff/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src:
        url('./woff2/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('./woff/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
