@import 'tailwindcss';
@import 'tw-animate-css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-primary-50: #effefa;
    --color-primary-100: #c9fef3;
    --color-primary-200: #93fce7;
    --color-primary-300: #54f4da;
    --color-primary-400: #34e2cb;
    --color-primary-500: #09c3ae;
    --color-primary-600: #049d8f;
    --color-primary-700: #087d73;
    --color-primary-800: #0c635d;
    --color-primary-900: #0f524d;
    --color-primary-950: #013231;
    --color-primary: #54f4da;


    --color-secondary-50: #fff8eb;
    --color-secondary-100: #ffebc6;
    --color-secondary-200: #ffd588;
    --color-secondary-300: #ffbe58;
    --color-secondary-400: #ff9e20;
    --color-secondary-500: #f97a07;
    --color-secondary-600: #dd5502;
    --color-secondary-700: #b73806;
    --color-secondary-800: #942a0c;
    --color-secondary-900: #7a240d;
    --color-secondary-950: #460f02;
    --color-secondary: #ff9e20;

    --color-gray-50: #cfcfcf;
    --color-gray-100: #c4c4c4;
    --color-gray-200: #b0b0b0;
    --color-gray-300: #9c9c9c;
    --color-gray-400: #858585;
    --color-gray-500: #707070;
    --color-gray-600: #5c5c5c;
    --color-gray-700: #474747;
    --color-gray-800: #333333;
    --color-gray-900: #1e1e1e;
    --color-gray-950: #0f0f0f;

    --color-red-50: #fff0f0;
    --color-red-100: #ffdede;
    --color-red-200: #ffc2c2;
    --color-red-300: #ff9898;
    --color-red-400: #ff5d5d;
    --color-red-500: #ff2a2a;
    --color-red-600: #f81818;
    --color-red-700: #d10404;
    --color-red-800: #ac0808;
    --color-red-900: #8e0e0e;
    --color-red-950: #4e0101;

    --font-gill-sans: 'Gill Sans', sans-serif;
}

html,
body {
    font-family: 'Source Sans 3', Inter, sans-serif;
    direction: ltr;
    text-align: left;
    background-color: #161616;
}

.container {
    @apply w-full max-w-[1120px] mx-auto;
}
